.nav-menu {
    background-color: #fff;
    width: 370px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}
.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #fff;
    width: 85%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

